* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  --dot-bg: #0f0f0f;
  --dot-color: rgb(31, 31, 31);
  --dot-size: 1.5px;
  --dot-space: 22px;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
.form {
  position: absolute;
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  background: #fff;
}

header {
  font-size: 28px;
  font-weight: 600;
  color: #232836;
  text-align: center;
}
form {
  margin-top: 30px;
}
.form .field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}
.form a {
  color: #0171d3;
  text-decoration: none;
}
.form-content a:hover {
  text-decoration: underline;
}
.media-options a {
  display: flex;
  align-items: center;
  justify-content: center;
}
a.github {
  color: #fff;
  background-color: #000000;
}
a.github .github-icon {
  height: 28px;
  width: 28px;
  color: #000000;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcfcfc;
}
a.github span {
  font-weight: 700;
  opacity: 0.8;
  color: #fcfcfc;
}
.github-icon,
.google-svg {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.google-svg {
  height: 28px;
  width: 28px;
  object-fit: cover;
}
a.google {
  border: 1px solid #cacaca;
}
a.google span {
  font-weight: 700;
  opacity: 0.8;
  color: #232836;
}

@media screen and (max-width: 400px) {
  .form {
    padding: 20px 10px;
  }
}
